nav#reusingdublin{
	background-color: #00afc9;
	height: 112px;
}
nav#reusingdublin a.navbar-brand{
	margin: 30px 0 0 0;
}
nav#reusingdublin a.navbar-brand img{
	width: 140px;
	height: 50px;
}
nav#reusingdublin #navbar{
	background-color: #00afc9;
	border: 0;
	margin: 60px 0 0;
	height: 50px !important;
}
nav#reusingdublin #navbar ul.page-links li,
nav#reusingdublin #navbar ul.social-links li{
	list-style: none;
	float: left;
}
nav#reusingdublin #navbar ul.page-links{
	margin-left: 130px;
}
nav#reusingdublin #navbar ul > li > a{
	color:#000 !important;
	font-family:'Source Sans Pro', sans-serif;
	font-size:19px;
}
nav#reusingdublin #navbar ul > li > a:hover{
	color:#fff !important;
}